<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>To Do</h1>

    <form method="POST" action="/">
        {% csrf_token %}
        {{form.title}}
        <input type="submit" name="Create Task">
    </form>

    {% for task in tasks %}
        <div>
            <a href="{% url 'udpate_task' task.id %}">Update</a>
            <h3>{{task}}</h3>
        </div>
    {% endfor %}

</body>
</html>